# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List some popular languages used in Data Science
* List some commonly used Data Science Tools
* Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib
4. scikit-learn
5. tensorflow

|Data Science Tools|
--------------------
|Jupyter Notebook|
|Hadoop|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python
* 2 + 3
* 13 % 5
* 12**3

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Ankit Kumar Meena